<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>MMV Example</title>
	<!-- include the dependences -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.1/lodash.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.0-rc4-bundled/backbone.marionette.js"></script>
	<!-- our plugin -->
	<script src="./marionette.mmv.js"></script>

	<!-- our app -->
	<script src="./app.js"></script>

	<style>
		td { 
			border-left: 1px solid black;
			border-bottom: 1px solid black;
		}
	</style>
</head>
<body>
	<h1>Title!</h1>
	<div id="content"></div>
	<div id="kirk"></div>

	<!-- begin the app! -->
	<script>

		$(document).ready(function() {
			window.app.start();
		});
	</script>

	<!-- Templates! -->
	<script type="text/template" id="tpl-PilotItemView">
		<td><%= name %></td>
		<td><%= rank %></td>
		<td><%= ship.name %></td>
		<td><%= ship.health %></td>
	</script>

	<script type="text/template" id="tpl-PilotListView">
		<table>
			<thead>
				<tr>
					<th>Pilot Name</th>
					<th>Rank</td>
					<th>Ship Name</th>
					<th>Ship Health</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</script>

	<script type="text/template" id="tpl-kirk">
		<h3><%= pilot.name %></h3>
		Your current score is <%= score.currentScore %>
		Your high score is <%= score.highScore %>
	</script>
</body>
</html>